
<div class="col-sm-12 nopadding">
  <div class="col-sm-1"></div>
  <div class="col-sm-8 nopadding">
      <h3 class="page-title">
          Settings <small></small>
      </h3>
  </div>
</div>

<div class="row nopadding margin-top-25">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
      <ul class="nav nav-tabs">
          <li class="active"><a class="tabs" data-toggle="tab" href="#apisettings" aria-expanded="false"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;API</a></li>
          <li class=""><a class="tabs" data-toggle="tab" href="#default" aria-expanded="true"><i class="fa fa-briefcase" aria-hidden="true"></i>&nbsp;&nbsp;Default</a></li>
      </ul>
      <div class="tab-content">
          <div id="default" class="tab-pane fade in">
              <div class="row margin-top-25">
                  <div class="col-lg-3 col-md-6 col-sm-12">
                      <label style="line-height:2;">Default Email for Outgoing Emails&nbsp;:</label>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-12">
                      <input type="text" class="form-control" value="Support@phonepro.com" />
                  </div>
              </div>
              <div class="row margin-top-10">
                  <div class="col-lg-3 col-md-6 col-sm-12">
                      <label style="line-height:2;">Alerts Notification&nbsp;(Days)&nbsp;:</label>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-12">
                      <input type="text" class="form-control" value="1" />
                  </div>
              </div>
              <div class="col-sm-12 nopadding margin-top-10">
                  <div class="col-lg-3 col-md-6 col-sm-12">
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-12">
                      <button class="btn btn-success">Update</button>
                  </div>
              </div>
          </div>
          <div id="apisettings" class="tab-pane active fade in" style="">

              <div class="col-sm-12 nopadding">
                  <h3><b>Twilio</b></h3>
                  <div class="col-lg-3 col-md-6 col-sm-12">
                      <label style="line-height:2;">Twilio Phone Number&nbsp;:</label>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                      <input type="text" class="form-control" value="+1855-975-5544" />
                  </div>
              </div>
              <div class="col-sm-12 nopadding margin-top-10">
                  <div class="col-lg-3 col-md-6 col-sm-12">
                      <label style="line-height:2;">Account ID&nbsp;:</label>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                      <input type="text" class="form-control" value="ACff3e601d4b1d472297c1d40b1ef15906" />
                  </div>
              </div>
              <div class="col-sm-12 nopadding margin-top-10">
                  <div class="col-lg-3 col-md-6 col-sm-12">
                      <label style="line-height:2;">Account Auth Token&nbsp;:</label>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                      <input type="text" class="form-control" value="1da17a0f6598f9812ff4a30bf6288ff4" />
                  </div>
              </div>
              <br />

              <div class="col-sm-12 nopadding">
                  <h3 style="margin-top:10px;"><b>SendGrid</b></h3>
                  <div class="col-lg-3 col-md-6 col-sm-12">
                      <label style="line-height:2;">SendGrid API&nbsp;:</label>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                      <input type="text" class="form-control" value="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" />
                  </div>
              </div>
              <div class="col-sm-12 nopadding margin-top-15">
                  <div class="col-lg-3 col-md-6 col-sm-12">
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-12">
                      <button class="btn btn-success">Update</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>