
<div class="top-menu">
    <nav class="navbar navbar-inverse header-nav stroke" role="navigation" style="padding:4px;font-size:15px;font-weight:500;">
        <div class="navbar-header">
            <a class="navbar-brand" href="/admin/dashboard">
                <img src="/assets/images/logo.png" style="height: 53px;padding-top: -15px;padding-left: 12px;">
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-center">
                <li id="menu1" [routerLinkActive]="['active']">
                    <a [routerLink]="['/admin/dashboard']" style="color:red !important; ">Dashboard</a>
                </li>
                <li id="menu3" [routerLinkActive]="['active']">
                    <a [routerLink]="['/admin/candidates']">Candidates</a>
                </li>

                <li id="menu5" [routerLinkActive]="['active']">
                    <a [routerLink]="['/admin/staff']" style="color:red !important;">Staff</a>
                </li>

                <li id="menu6" [routerLinkActive]="['active']">
                    <a [routerLink]="['/admin/settings']">Settings</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown dropdown-user">
                    <a  class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <img src="/assets/images/Usr.jpg" class="img-circle">
                        <span class="username username-hide-on-mobile">Admin account</span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a>
                                <i class="icon-user"></i> My Profile
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a (click) = "changePassword()"  style="cursor: pointer;">
                                <i class="icon-lock"></i> Change Password
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['']">
                                <i class="icon-key"></i> Log Out
                            </a>
                        </li>
                    </ul>

                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="page-assets-wrapper">
    <div class="page-assets clearfix " style="min-height:267px">
        <router-outlet></router-outlet>
    </div>
</div>


<div id="myModal" class="modal fade" bsModal #changePasswordModal="bs-modal" [config]="{backdrop: 'static'}" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-header-color">
        <button type="button" class="close close-modal modal-opacity close-modal-blue" (click)="closeChangePassword()" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">
          <b>Change Password</b>
        </h4>
      </div>
      <form [formGroup]="passwordChangeForm">
        <div class="modal-body" style="padding:27px;">
          <div class="row">
            <div class="col-sm-12 nopadding">
              <div class="col-sm-5">
                <label class="form-control-label">Email :
                  <span class="red">*</span>
                </label>
              </div>
              <div class="col-sm-7">
                <div class="form-group required">
                  <input type="text" id="candidateuser-username" class="form-control" [formControl]="passwordChangeForm.controls['username']"
                  [(ngModel)]="passwordChange.username" maxlength="34" readonly>
                </div>
              </div>
            </div>

            <div class="col-sm-12 nopadding margin-top-10">
              <div class="col-sm-5">
                <label class="form-control-label">Current Password :
                  <span class="red">*</span>
                </label>
              </div>
              <div class="col-sm-7">
                <div class="form-group required" [ngClass]="{'has-danger': !isPasswordChangeValid('current_password')}">
                  <input type="password" id="candidateuser-current_password" class="form-control" [formControl]="passwordChangeForm.controls['current_password']"
                    [(ngModel)]="passwordChange.current_password" [ngClass]="{'form-control-danger': !isPasswordChangeValid('current_password')}"
                    maxlength="34">
                  <span class="help-block help-block-error" *ngIf="!passwordChangeFormErrors.current_password.valid">{{passwordChangeFormErrors.current_password.message}}</span>
                  
                </div>
              </div>
            </div>

            <div class="col-sm-12 nopadding margin-top-10">
              <div class="col-sm-5">
                <label class="form-control-label" for="companyuser-email">New Password :
                  <span class="red">*</span>
                </label>
              </div>
              <div class="col-sm-7">
                <div class="form-group field-companyuser-email" [ngClass]="{'has-danger': !isPasswordChangeValid('new_password')}">
                  <input type="password" id="adminusers-password" class="form-control" aria-required="true" [formControl]="passwordChangeForm.controls['new_password']"
                    [(ngModel)]="passwordChange.new_password" [ngClass]="{'form-control-danger': !isPasswordChangeValid('new_password')}"
                    maxlength="50">
                  <span class="help-block help-block-error" *ngIf="!passwordChangeFormErrors.new_password.valid">{{passwordChangeFormErrors.new_password.message}}</span>
                </div>
              </div>
            </div>

            <div class="col-sm-12 nopadding margin-top-10">
              <div class="col-sm-5">
                <label class="form-control-label">Confirm New Password :
                  <span class="red">*</span>
                </label>
              </div>
              <div class="col-sm-7">
                    <div class="form-group field-companyuser-email" [ngClass]="{'has-danger': !isPasswordChangeValid('confirm_new_password')}">
                            <input type="password" id="adminusers-confirm-password" class="form-control" aria-required="true" [formControl]="passwordChangeForm.controls['confirm_new_password']"
                              [(ngModel)]="passwordChange.confirm_new_password" [ngClass]="{'form-control-danger': !isPasswordChangeValid('confirm_new_password')}"
                              maxlength="50">
                            <span class="help-block help-block-error" *ngIf="!passwordChangeFormErrors.confirm_new_password.valid">{{passwordChangeFormErrors.confirm_new_password.message}}</span>
                          </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer footer-background">
          <button type="button" class="btn btn-default pull-right" (click)="closeChangePassword()">Close</button>
          <button (click)="onPasswordSubmit()" style="margin-right: 5px" type="submit" class="btn btn-success pull-right" [disabled]="!passwordChangeForm.valid || passwordSubmitted == true">
            <i *ngIf="passwordSubmitted" class="fa fa-circle-o-notch fa-spin fa-fw"></i>Save</button>
        </div>
      </form>
    </div>
  </div>
</div>