.red-bar .noUi-connect{
    background: red;
  }
  
  .yellow-bar .noUi-connect{
    background: yellow;
  }
  .blue-bar .noUi-connect{
    background: blue;
  }
  .orange-bar .noUi-connect{
    background: orange;
  }
  .green-bar .noUi-connect{
    background: green;
  }
  
   .evaluation-tabs .nav-pills>li {
      position: relative;
      overflow: visible;
      border-right: 15px solid transparent;
      border-left: 15px solid transparent;
    }
  
    .evaluation-tabs .nav-pills>li+li {
      margin-left: 0;
    }
  
    .evaluation-tabs .nav-pills>li:first-child {
      border-left: 0;
    }
  
   .evaluation-tabs .nav-pills>li:first-child a {
      border-radius: 5px 0 0 5px;
    }
  
    .evaluation-tabs .nav-pills>li:last-child {
      border-right: 0;
    }
  
    .evaluation-tabs .nav-pills>li:last-child a {
      border-radius: 0 5px 5px 0;
    }
  
    .evaluation-tabs .nav-pills>li a {
      border-radius: 0;
      background-color: #eee;
    }
  
    .evaluation-tabs .nav-pills>li:not(:last-child) a:after {
      position: absolute;
      content: "";
      top: 0px;
      right: -20px;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 20px 0 18px 20px;
      border-color: transparent transparent transparent #eee;
      z-index: 150;
    }
  
   .evaluation-tabs .nav-pills>li:not(:first-child) a:before {
      position: absolute;
      content: "";
      top: 0px;
      left: -20px;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 20px 0 18px 20px;
      border-color: #eee #eee #eee transparent;
      z-index: 150;
    }
  
    .evaluation-tabs .nav-pills>li:hover:not(:last-child) a:after {
      border-color: transparent transparent transparent #aaa;
    }
  
    .evaluation-tabs .nav-pills>li:hover:not(:first-child) a:before {
      border-color: #aaa #aaa #aaa transparent;
    }
  
    .evaluation-tabs .nav-pills>li:hover a {
      background-color: #aaa;
      color: #fff;
    }
  
   .evaluation-tabs  .nav-pills>li.active:not(:last-child) a:after {
      border-color: transparent transparent transparent #428bca;
    }
  
    .evaluation-tabs .nav-pills>li.active:not(:first-child) a:before {
      border-color: #428bca #428bca #428bca transparent;
    }
  
    .evaluation-tabs .nav-pills>li.active a {
      background-color: #428bca;
    }
  
    .nav-stacked>li+li{
      margin: 0px !important;
    }
  
     .nav-stacked li{
      border-bottom: 1px solid #ddd;
    }
  
    .nav-stacked li:first-child{
      border-top: 1px solid #ddd;
    }
  
     ul.nav-stacked{
      border: 1px solid #ddd;
      margin: 0px;
      padding: 0px;
      border-radius: 6px;
    }
  
   .evaluation-tabs .tab-content-container{
    border: 1px solid #ddd;
    margin-bottom: 20px;
   }
  
   .ng2-nouislider{
    margin-bottom: 32px !important
   }

   
.overall-rating-block{
  padding: 3px 3px;
}

.border-ddd{
  border: 1px solid #ddd;
}

.overall-rating-text{
margin-bottom: 0px;
color: #a7a7a7;
}

.overall-rating-number{
  font-weight: 600;
  color: green;
  font-size: 18px;
  padding-left: 8px;
}

.bs-rating-star{
font-size: 16px;
text-shadow: 0px 0px 3px #ddd;
color: #F4D405;
}

.rating-text-label{
  padding: 7px 7px;
  float: right;
}