<div class="col-sm-12 nopadding">
  <div class="col-sm-1"></div>
  <div class="col-sm-8 nopadding">
    <h3 class="page-title">
      Candidates
      <small>
        Candidates can be added and their accounts can be managed here.
      </small>
    </h3>
  </div>
</div>

<div class="col-sm-12 nopadding">
  <div class="col-sm-1"></div>
  <div class="col-sm-10 nopadding">
    <div class="col-sm-12 nopadding">

      <div class="col-sm-12 nopadding  margin-top-10">
        <div class="col-sm-12 padding-right-0 margin-top-5">
          <a class="btn btn-success pull-right" style="width: 183px;" (click)="candidatesModal.show()" title="Click to add new Questionnaire">
            <i class="fa fa-plus"></i>&nbsp;Add Candidate
          </a>
        </div>
        <div class="col-sm-12 nopadding margin-top-5">
          <div class="col-sm-12 nopadding">
            <div class="form-inline">
              <div class="form-group pull-right padding-right-0 padding-10">
                <label for="email">
                  <b>Search:</b>
                </label>
                <input class="form-control mr-left-5" [(ngModel)]="filterQuery" />
              </div>
            </div>
            <table class="table table-hover table-bordered table-striped" [mfData]="candidatesTableData" #candidatesTblData="mfDataTable"
              [mfRowsOnPage]="rowsOnPage">
              <thead>
                <tr class="tr-blue-grid-head">
                  <th style="width: 10%">
                    <mfDefaultSorter by="candidate_id">Candidate ID</mfDefaultSorter>
                  </th>
                  <th style="width: 15%">
                    <mfDefaultSorter by="name">Name</mfDefaultSorter>
                  </th>
                  <th style="width: 15%">
                    <mfDefaultSorter by="email">Email</mfDefaultSorter>
                  </th>
                  <th style="width: 10%">
                    <mfDefaultSorter by="phone">Phone</mfDefaultSorter>
                  </th>
                  <th style="width: 10%" class="text-center">
                    <mfDefaultSorter by="">Current</mfDefaultSorter>
                  </th>
                  <th style="width: 10%" class="text-center">
                    <mfDefaultSorter by="">History</mfDefaultSorter>
                  </th>
                  <th style="width: 10%" class="text-center">
                    <mfDefaultSorter by="">Conversation</mfDefaultSorter>
                  </th>
                  <th style="width: 15%" class="text-center">
                    <mfDefaultSorter by="">Status</mfDefaultSorter>
                  </th>
                  <th style="width: 15%" class="text-center">
                      <mfDefaultSorter by="">Actions</mfDefaultSorter>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of candidatesTblData.data; let rowIndex=index">
                  <td>{{item.candidate_id}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.email}}</td>
                  <td>{{item.phone}}</td>
                  <td class="text-center">
                    <a title="Click to view" style="cursor:pointer" [routerLink]="['/admin/evaluation']" target="_blank">{{(rowIndex % 2 == 0)? "Start" : "Resume"}}</a>
                  </td>
                  <td class="text-center">
                    <a title="Click to view" style="cursor:pointer">{{rowIndex+2}}</a>
                  </td>
                  <td class="text-center">
                    <a title="Click to view" style="cursor:pointer">View</a>
                  </td>
                  <td class="text-center">
                    <a style="cursor:pointer">Active</a>
                  </td>
                  <td class="text-center">
                      <a title="Click to edit details">
                          <i class="fa fa-pencil-square-o"></i>
                      </a>
                      <a title="Click to delete details">
                          <i class="fa fa-trash red"></i>
                      </a>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="9" class="no-pagination-border padding-0">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" bsModal #candidatesModal="bs-modal" [config]="{backdrop: 'static'}" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button (click)="candidatesModal.hide()" type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
          <b>Add Candidate</b>
        </h4>
      </div>
      <div class="modal-body" style="padding:27px;">
        <div class="row">
          <div class="col-sm-12 nopadding">
            <div class="col-sm-3">
              <label>First Name&nbsp;:</label>
            </div>
            <div class="col-sm-7">
              <input type="text" class="form-control" placeholder="Enter First Name" />
            </div>
          </div>
          <div class="col-sm-12 nopadding margin-top-10">
            <div class="col-sm-3">
              <label>Last Name&nbsp;:</label>
            </div>
            <div class="col-sm-7">
              <input type="text" class="form-control" placeholder="Enter Last Name" />
            </div>
          </div>
          <div class="col-sm-12 nopadding margin-top-10">
            <div class="col-sm-3">
              <label>Email&nbsp;:</label>
            </div>
            <div class="col-sm-7">
              <input type="text" class="form-control" placeholder="Enter Email ID" />
            </div>
          </div>
          <div class="col-sm-12 nopadding margin-top-10">
            <div class="col-sm-3">
              <label>Phone&nbsp;:</label>
            </div>
            <div class="col-sm-7">
              <input type="text" class="form-control" placeholder="Enter Phone Number" />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default pull-right" (click)="candidatesModal.hide()">
          <span style="color:#000;">Close</span>
        </a>
        <a class="btn btn-success pull-right"  (click)="candidatesModal.hide()" style="margin-right:5px;">Add & Start Evaluation</a>
        <a class="btn btn-success pull-right" (click)="candidatesModal.hide()" style="margin-right:5px;">Add & Evaluate Later</a>
      </div>
    </div>
  </div>
</div>

<div id="evaluationmodal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
          <b>Evaluation History</b>
        </h4>
      </div>
      <div class="modal-body" style="padding:27px;">
        <div class="row">
          <div class="col-sm-12 nopadding">
            <table class="table table-responsive table-bordered">
              <thead>
                <tr>
                  <th>Evaluation Date & Time</th>
                  <th>Evaluated By</th>
                  <th class="text-center">Details</th>
                  <th class="text-center">Report</th>
                  <th class="text-center">Email</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>30-Mar-18 10.00AM</td>
                  <td>Sampath</td>
                  <td class="text-center">
                    <a title="Click to view details" href="/admin/evaluation" target="_blank">View</a>
                  </td>
                  <td class="text-center">
                    <a class="" title="Click to download" href="/assets/theme/PhoneFile/Phone Interview Pro.pdf" download>
                      <i class="fa fa-download"></i>
                    </a>
                  </td>
                  <td class="text-center">
                    <a class="" title="Click to send email" href="/admin/emails" target="_blank">
                      <i class="fa fa-envelope"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>29-Jan-18 10.00AM</td>
                  <td>Ankith</td>
                  <td class="text-center">
                    <a title="Click to view details" href="/admin/evaluation" target="_blank">View</a>
                  </td>
                  <td class="text-center">
                    <a class="" title="Click to download" href="/assets/theme/PhoneFile/Phone Interview Pro.pdf" download>
                      <i class="fa fa-download"></i>
                    </a>
                  </td>
                  <td class="text-center">
                    <a class="" title="Click to send email" href="/admin/emails" target="_blank">
                      <i class="fa fa-envelope"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default pull-right" data-dismiss="modal">
          <span style="color:#000;">Close</span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalPaymentView" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
          <b>Chat Conversation</b>
        </h4>
      </div>
      <div class="modal-body">
        <div class="portlet light ">
          <div class="portlet-title">
            <div class="col-sm-12 nopadding">
              <div class="col-sm-10">
              </div>
              <div class="col-sm-2">
                <div class="inputs">
                  <div class="portlet-input input-inline input-small">
                    <div class="input-icon right">
                      <i class="icon-magnifier"></i>
                      <input type="text" class="form-control input-circle pull-right" placeholder="search...">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="portlet-body" id="chats">
            <div class="scroller" style="height: 353px;" data-always-visible="1" data-rail-visible1="1">
              <ul class="chats">
                <li class="in">

                  <img class="avatar" alt="" src="/assets/theme/images/1.jpg" />
                  <div class="message">
                    <span class="arrow">
                    </span>
                    <a href="#" class="name">
                      Bob Nilson
                    </a>
                    <span class="datetime">
                      at 20:09
                    </span>
                    <span class="body">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                      aliquam erat volutpat.
                    </span>
                  </div>
                </li>
                <li class="out">
                  <img class="avatar" alt="" src="/assets/theme/images/2.jpg" />
                  <div class="message">
                    <span class="arrow">
                    </span>
                    <a href="#" class="name">
                      Lisa Wong
                    </a>
                    <span class="datetime">
                      at 20:11
                    </span>
                    <span class="body">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                      aliquam erat volutpat.
                    </span>
                  </div>
                </li>
                <li class="in">
                  <img class="avatar" alt="" src="/assets/theme/images/1.jpg" />
                  <div class="message">
                    <span class="arrow">
                    </span>
                    <a href="#" class="name">
                      Bob Nilson
                    </a>
                    <span class="datetime">
                      at 20:30
                    </span>
                    <span class="body">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                      aliquam erat volutpat.
                    </span>
                  </div>
                </li>
                <li class="out">
                  <img class="avatar" alt="" src="/assets/theme/images/2.jpg" />
                  <div class="message">
                    <span class="arrow">
                    </span>
                    <a href="#" class="name">
                      Richard Doe
                    </a>
                    <span class="datetime">
                      at 20:33
                    </span>
                    <span class="body">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                      aliquam erat volutpat.
                    </span>
                  </div>
                </li>
                <li class="in">
                  <img class="avatar" alt="" src="/assets/theme/images/1.jpg" />
                  <div class="message">
                    <span class="arrow">
                    </span>
                    <a href="#" class="name">
                      Richard Doe
                    </a>
                    <span class="datetime">
                      at 20:35
                    </span>
                    <span class="body">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                      aliquam erat volutpat.
                    </span>
                  </div>
                </li>
                <li class="out">
                  <img class="avatar" alt="" src="/assets/theme/images/2.jpg" />
                  <div class="message">
                    <span class="arrow">
                    </span>
                    <a href="#" class="name">
                      Bob Nilson
                    </a>
                    <span class="datetime">
                      at 20:40
                    </span>
                    <span class="body">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                      aliquam erat volutpat.
                    </span>
                  </div>
                </li>
                <li class="in">
                  <img class="avatar" alt="" src="/assets/theme/images/1.jpg" />
                  <div class="message">
                    <span class="arrow">
                    </span>
                    <a href="#" class="name">
                      Richard Doe
                    </a>
                    <span class="datetime">
                      at 20:40
                    </span>
                    <span class="body">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                      aliquam erat volutpat.
                    </span>
                  </div>
                </li>
                <li class="out">
                  <img class="avatar" alt="" src="/assets/theme/images/2.jpg" />
                  <div class="message">
                    <span class="arrow">
                    </span>
                    <a href="#" class="name">
                      Bob Nilson
                    </a>
                    <span class="datetime">
                      at 20:54
                    </span>
                    <span class="body">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                      aliquam erat volutpat. sed diam nonummy nibh euismod tincidunt ut laoreet.
                    </span>
                  </div>
                </li>
              </ul>
            </div>
            <div class="chat-form">
              <div class="input-cont">
                <input class="form-control" type="text" placeholder="Type a message here..." />
              </div>
              <div class="btn-cont">
                <span class="arrow">
                </span>
                <a href="" class="btn blue icn-only">
                  <i class="fa fa-check icon-white"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>