<div class="col-sm-12 nopadding">
  <div class="col-sm-1"></div>
  <div class="col-sm-8 nopadding">
    <h3 class="page-title">
      Candidates
      <small>
        Candidates can be added and their accounts can be managed here.
      </small>
    </h3>
  </div>
</div>

<div class="col-sm-12 nopadding">
  <div class="col-sm-1"></div>
  <div class="col-sm-10 nopadding">
    <div class="col-sm-12 nopadding">

      <div class="col-sm-12 nopadding  margin-top-10">
        <div class="col-sm-12 padding-right-0 margin-top-5">
          <a class="btn btn-success pull-right" style="width: 183px;" (click)="createCompanyUser()" title="Click to add new Questionnaire">
            <i class="fa fa-plus"></i>&nbsp;Add Candidate
          </a>
        </div>
        <div class="col-sm-12 nopadding margin-top-5">
          <div class="col-sm-12 nopadding">
            <div class="col-sm-6 padding-10 padding-left-0">
              <select class="form-control  float-left" [(ngModel)]="rowsOnPage" style="width: 80px;">
                <option [ngValue]="5">5</option>
                <option [ngValue]="10">10</option>
                <option [ngValue]="15">15</option>
              </select>
            </div>
            <div class="col-sm-6 padding-10 padding-right-0">
              <div class="form-inline">
                <div class="form-group pull-right padding-right-0">
                  <label for="email">
                    <b>Search:</b>
                  </label>
                  <input class="form-control mr-left-5" [(ngModel)]="filterQuery" />
                </div>
              </div>
            </div>
            <table class="table table-hover table-bordered table-striped" [mfData]="candidatesData" #candidatesTblData="mfDataTable"
              [mfRowsOnPage]="rowsOnPage">
              <thead>
                <tr class="tr-blue-grid-head">
                  <!-- <th style="width: 10%">
                    <mfDefaultSorter by="candidate_id">Candidate ID</mfDefaultSorter>
                  </th>-->
                  <th style="width: 15%">
                    <mfDefaultSorter by="name">Name</mfDefaultSorter>
                  </th>
                  <th style="width: 15%">
                    <mfDefaultSorter by="email">Email</mfDefaultSorter>
                  </th>
                  <th style="width: 10%">
                    <mfDefaultSorter by="phone">Phone</mfDefaultSorter>
                  </th>
                  <th style="width: 10%" class="text-center">
                    <mfDefaultSorter by="">Current</mfDefaultSorter>
                  </th>
                  <th style="width: 10%" class="text-center">
                    <mfDefaultSorter by="">History</mfDefaultSorter>
                  </th>

                  <th style="width: 15%" class="text-center">
                    <mfDefaultSorter by="">Status</mfDefaultSorter>
                  </th>
                  <th style="width: 15%" class="text-center">
                    <mfDefaultSorter by="">Actions</mfDefaultSorter>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of candidatesTblData.data; let rowIndex=index">
                  <!--<td>{{item.user_id}}</td>-->
                  <td>{{item.name}}</td>
                  <td>{{item.username}}</td>
                  <td>{{item.mobile}}</td>
                  <td class="text-center">
                    <a title="Click to start evaluation" style="cursor:pointer" (click)="redirectToEvaluation(item.user_id)">{{(item.evaluationStatus == 1) ? "Resume" : "Start"}}</a>
                  </td>
                  <td class="text-center">
                    <a (click)="showCandidateEvaluationHistory(item)" title="Click to view" style="cursor:pointer">{{item.evaluationHistoryCount}}</a>
                  </td>

                  <td class="text-center">
                    <a (click)="changeCandidateStatus(item)" style="cursor:pointer">{{item.status == 1 ? 'Active' : 'In Active'}}</a>
                  </td>
                  <td class="text-center">
                    <a (click)="updateCandidate(item)" title="Click to edit details">
                      <i class="fa fa-pencil-square-o"></i>
                    </a>
                    <a (click)="deleteCandidate(item)" title="Click to delete details">
                      <i class="fa fa-trash red"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="5" class="no-pagination-border padding-0">
                    <p class="pagination-summary-text">showing {{candidatesTblData.data.length}} of {{candidatesData.length}} records</p>
                  </td>
                  <td colspan="4" class="no-pagination-border padding-0">
                    <mfBootstrapPaginator></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->


<div id="myModal" class="modal fade" bsModal #candidatesModal="bs-modal" [config]="{backdrop: 'static'}" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header modal-header-color">
        <button type="button" class="close close-modal modal-opacity close-modal-blue" (click)="closeCandidateModal()" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">
          <b>{{candidateTitle}}</b>
        </h4>
      </div>
      <form [formGroup]="candidateUserForm">
        <div class="modal-body" style="padding:27px;">

          <div class="row">

            <div class="col-sm-12 nopadding">
              <div class="col-sm-3">
                <label class="form-control-label">First Name :
                  <span class="red">*</span>
                </label>
              </div>
              <div class="col-sm-7">
                <div class="form-group required" [ngClass]="{'has-danger': !isCandidateUserValid('first_name')}">
                  <input type="text" class="form-control" [formControl]="candidateUserForm.controls['first_name']" [(ngModel)]="candidateUser.first_name"
                    [ngClass]="{'form-control-danger': !isCandidateUserValid('first_name')}" maxlength="34">
                  <span class="help-block help-block-error" *ngIf="!candidateUserFormErrors.first_name.valid">{{candidateUserFormErrors.first_name.message}}</span>
                </div>
              </div>
            </div>

            <div class="col-sm-12 nopadding margin-top-10">
              <div class="col-sm-3">
                <label class="form-control-label">Last Name :
                  <span class="red">*</span>
                </label>
              </div>
              <div class="col-sm-7">
                <div class="form-group required" [ngClass]="{'has-danger': !isCandidateUserValid('last_name')}">
                  <input type="text" id="candidateuser-last_name" class="form-control" [formControl]="candidateUserForm.controls['last_name']"
                    [(ngModel)]="candidateUser.last_name" [ngClass]="{'form-control-danger': !isCandidateUserValid('last_name')}"
                    maxlength="34">
                  <span class="help-block help-block-error" *ngIf="!candidateUserFormErrors.last_name.valid">{{candidateUserFormErrors.last_name.message}}</span>
                </div>
              </div>
            </div>


            <div class="col-sm-12 nopadding margin-top-10">
              <div class="col-sm-3">
                <label class="form-control-label" for="companyuser-email">Email :
                  <span class="red">*</span>
                </label>
              </div>
              <div class="col-sm-7">
                <div class="form-group field-companyuser-email" [ngClass]="{'has-danger': !isCandidateUserValid('username')}">
                  <input type="text" id="adminusers-email" class="form-control" aria-required="true" [formControl]="candidateUserForm.controls['username']"
                    [(ngModel)]="candidateUser.username" [ngClass]="{'form-control-danger': !isCandidateUserValid('username')}"
                    maxlength="50">
                  <span class="help-block help-block-error" *ngIf="!candidateUserFormErrors.username.valid">{{candidateUserFormErrors.username.message}}</span>
                </div>
              </div>
            </div>

            <div class="col-sm-12 nopadding margin-top-10">
              <div class="col-sm-3">
                <label class="form-control-label">Phone :
                  <span class="red">*</span>
                </label>
              </div>
              <div class="col-sm-7">
                <div class="form-group field-companyuser-phone required" [ngClass]="{'has-danger': !isCandidateUserValid('mobile')}">
                  <input type="text" [textMask]="{mask: phoneNumberMask,guide: false, modelClean: true}" id="companyuser-phone" class="form-control"
                    [formControl]="candidateUserForm.controls['mobile']" [(ngModel)]="candidateUser.mobile" [ngClass]="{'form-control-danger': !isCandidateUserValid('mobile')}"
                    aria-required="true" placeholder="(___) ___-____" maxlength="34">
                  <span class="help-block help-block-error" *ngIf="!candidateUserFormErrors.mobile.valid">{{candidateUserFormErrors.mobile.message}}</span>
                </div>
              </div>
            </div>


            <div class="col-sm-12 nopadding margin-top-10">
              <div class="col-sm-3">
                <label class="form-control-label">Status
                  <span class="red">*</span>
                </label>
              </div>
              <div class="col-sm-7">
                <div class="form-group field-adminusers-status required" [ngClass]="{'has-danger': !isCandidateUserValid('status')}">
                  <select class="form-control" [formControl]="candidateUserForm.controls['status']" [(ngModel)]="candidateUser.status" [ngClass]="{'form-control-danger': !isCandidateUserValid('status')}">
                    <option disabled value='null'>Select</option>
                    <option [value]='1'>Active</option>
                    <option [value]='0'>Inactive</option>
                  </select>
                  <span class="help-block help-block-error" *ngIf="!candidateUserFormErrors.status.valid">{{candidateUserFormErrors.status.message}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer footer-background">
          <button type="button" class="btn btn-default pull-right" (click)="closeCandidateModal()">Close</button>
          <button (click)="onCandidateUserSubmit('add')" style="margin-right: 5px" type="button" class="btn btn-success pull-right"
            [disabled]="!candidateUserForm.valid || candidateUserSubmitted == true">
            Add & Evaluate Later</button>
          <button (click)="onCandidateUserSubmit('evaluate')" style="margin-right: 5px" type="button" class="btn btn-success pull-right"
            [disabled]="!candidateUserForm.valid || candidateUserSubmitted == true">
            Add & Start Evaluation</button>

        </div>
      </form>
    </div>

  </div>
</div>



<div id="myModal" class="modal fade" bsModal #candidatesHistoryModal="bs-modal" [config]="{backdrop: 'static'}" role="dialog"
  aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">


      <div class="modal-header modal-header-color">
        <button type="button" class="close close-modal modal-opacity close-modal-blue" (click)="candidatesHistoryModal.hide()" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">
          <b>{{candidateEvaluationTitle}}</b>
        </h4>
      </div>

      <div class="modal-body">
        <div class="form-inline">
          <div class="form-group pull-right padding-right-0 padding-10">
            <label for="email">
              <b>Search:</b>
            </label>
            <input class="form-control mr-left-5" [(ngModel)]="filterQuery" />
          </div>
        </div>
        <table class="table table-hover table-bordered table-striped" [mfData]="candidateEvaluationHistoryData" #candidatesEvaHis="mfDataTable"
          [mfRowsOnPage]="rowsOnPage">
          <thead>
            <tr class="tr-blue-grid-head">
              <th style="width: 10%">
                <mfDefaultSorter by="candidate_id">Evaluation Date & Time</mfDefaultSorter>
              </th>
              <th style="width: 15%">
                <mfDefaultSorter by="name">Evaluated By</mfDefaultSorter>
              </th>
              <th style="width: 15%">
                <mfDefaultSorter by="email">Detail</mfDefaultSorter>
              </th>
              <th style="width: 10%">
                <mfDefaultSorter by="phone">Report</mfDefaultSorter>
              </th>
              <th style="width: 10%" class="text-center">
                <mfDefaultSorter by="">Email</mfDefaultSorter>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let history of candidatesEvaHis.data; let rowIndex=index">
              <td>{{history.created_at}}</td>
              <td>{{history.evaluatorName}}</td>
              <td>
                <a title="Click to view Details" style="cursor:pointer" target="_blank">View</a>
              </td>
              <td>
                <a title="Click to download report" style="cursor:pointer" target="_blank">
                  <i class="fa fa-download"></i>
                </a>
              </td>
              <td>
                <a title="Click to email" style="cursor:pointer" target="_blank">
                  <i class="fa fa-envelope"></i>
                </a>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="9" class="no-pagination-border padding-0">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="modal-footer footer-background">
        <button type="button" class="btn btn-default pull-right" (click)="candidatesHistoryModal.hide()">Close</button>
      </div>

    </div>

  </div>
</div>


<div id="evaluationmodal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
          <b>Evaluation History</b>
        </h4>
      </div>
      <div class="modal-body" style="padding:27px;">
        <div class="row">
          <div class="col-sm-12 nopadding">
            <table class="table table-responsive table-bordered">
              <thead>
                <tr>
                  <th>Evaluation Date & Time</th>
                  <th>Evaluated By</th>
                  <th class="text-center">Details</th>
                  <th class="text-center">Report</th>
                  <th class="text-center">Email</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>30-Mar-18 10.00AM</td>
                  <td>Sampath</td>
                  <td class="text-center">
                    <a title="Click to view details" href="/admin/evaluation" target="_blank">View</a>
                  </td>
                  <td class="text-center">
                    <a class="" title="Click to download" href="/assets/PhoneFile/Phone Interview Pro.pdf" download>
                      <i class="fa fa-download"></i>
                    </a>
                  </td>
                  <td class="text-center">
                    <a class="" title="Click to send email" href="/admin/emails" target="_blank">
                      <i class="fa fa-envelope"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>29-Jan-18 10.00AM</td>
                  <td>Ankith</td>
                  <td class="text-center">
                    <a title="Click to view details" href="/admin/evaluation" target="_blank">View</a>
                  </td>
                  <td class="text-center">
                    <a class="" title="Click to download" href="/assets/PhoneFile/Phone Interview Pro.pdf" download>
                      <i class="fa fa-download"></i>
                    </a>
                  </td>
                  <td class="text-center">
                    <a class="" title="Click to send email" href="/admin/emails" target="_blank">
                      <i class="fa fa-envelope"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default pull-right" data-dismiss="modal">
          <span style="color:#000;">Close</span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalPaymentView" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
          <b>Chat Conversation</b>
        </h4>
      </div>
      <div class="modal-body">
        <div class="portlet light ">
          <div class="portlet-title">
            <div class="col-sm-12 nopadding">
              <div class="col-sm-10">
              </div>
              <div class="col-sm-2">
                <div class="inputs">
                  <div class="portlet-input input-inline input-small">
                    <div class="input-icon right">
                      <i class="icon-magnifier"></i>
                      <input type="text" class="form-control input-circle pull-right" placeholder="search...">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="portlet-body" id="chats">
            <div class="scroller" style="height: 353px;" data-always-visible="1" data-rail-visible1="1">
              <ul class="chats">
                <li class="in">

                  <img class="avatar" alt="" src="" />
                  <div class="message">
                    <span class="arrow">
                    </span>
                    <a href="#" class="name">
                      Bob Nilson
                    </a>
                    <span class="datetime">
                      at 20:09
                    </span>
                    <span class="body">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                      aliquam erat volutpat.
                    </span>
                  </div>
                </li>
                <li class="out">
                  <img class="avatar" alt="" src="" />
                  <div class="message">
                    <span class="arrow">
                    </span>
                    <a href="#" class="name">
                      Lisa Wong
                    </a>
                    <span class="datetime">
                      at 20:11
                    </span>
                    <span class="body">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                      aliquam erat volutpat.
                    </span>
                  </div>
                </li>
                <li class="in">
                  <img class="avatar" alt="" src="" />
                  <div class="message">
                    <span class="arrow">
                    </span>
                    <a href="#" class="name">
                      Bob Nilson
                    </a>
                    <span class="datetime">
                      at 20:30
                    </span>
                    <span class="body">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                      aliquam erat volutpat.
                    </span>
                  </div>
                </li>
                <li class="out">
                  <img class="avatar" alt="" src="" />
                  <div class="message">
                    <span class="arrow">
                    </span>
                    <a href="#" class="name">
                      Richard Doe
                    </a>
                    <span class="datetime">
                      at 20:33
                    </span>
                    <span class="body">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                      aliquam erat volutpat.
                    </span>
                  </div>
                </li>
                <li class="in">
                  <img class="avatar" alt="" src="" />
                  <div class="message">
                    <span class="arrow">
                    </span>
                    <a href="#" class="name">
                      Richard Doe
                    </a>
                    <span class="datetime">
                      at 20:35
                    </span>
                    <span class="body">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                      aliquam erat volutpat.
                    </span>
                  </div>
                </li>
                <li class="out">
                  <img class="avatar" alt="" src="" />
                  <div class="message">
                    <span class="arrow">
                    </span>
                    <a href="#" class="name">
                      Bob Nilson
                    </a>
                    <span class="datetime">
                      at 20:40
                    </span>
                    <span class="body">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                      aliquam erat volutpat.
                    </span>
                  </div>
                </li>
                <li class="in">
                  <img class="avatar" alt="" src="" />
                  <div class="message">
                    <span class="arrow">
                    </span>
                    <a href="#" class="name">
                      Richard Doe
                    </a>
                    <span class="datetime">
                      at 20:40
                    </span>
                    <span class="body">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                      aliquam erat volutpat.
                    </span>
                  </div>
                </li>
                <li class="out">
                  <img class="avatar" alt="" src="" />
                  <div class="message">
                    <span class="arrow">
                    </span>
                    <a href="#" class="name">
                      Bob Nilson
                    </a>
                    <span class="datetime">
                      at 20:54
                    </span>
                    <span class="body">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                      aliquam erat volutpat. sed diam nonummy nibh euismod tincidunt ut laoreet.
                    </span>
                  </div>
                </li>
              </ul>
            </div>
            <div class="chat-form">
              <div class="input-cont">
                <input class="form-control" type="text" placeholder="Type a message here..." />
              </div>
              <div class="btn-cont">
                <span class="arrow">
                </span>
                <a href="" class="btn blue icn-only">
                  <i class="fa fa-check icon-white"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-delete-confirmation #deleteModal (confirmed)="okDelete()"></app-delete-confirmation>