<div class="col-sm-12 nopadding">
  <div class="col-sm-1"></div>
  <div class="col-sm-8 nopadding">
    <h3 class="page-title">
      Dashboard
      <small>
        The summary picture of system activity, usage and statistics appears here.
      </small>
    </h3>
  </div>
</div>

<div class="row nopadding">
  <div class="col-sm-1"></div>
  <div class="col-sm-10 nopadding">
    <div class="col-sm-12 nopadding  margin-top-20">
      <div class="col-sm-12 margin-top-25">
        <div class="panel panel-default">
          <div class="panel-body" style="background-color:#eee;">
            <div class="col-sm-12 nopadding">
              <div class="col-sm-6 nopadding">
                <label style="font-size: 20px;">
                  <b>Filters</b>&nbsp;
                  <small style="font-size:13px;">Choose filters to refine data statistics</small>
                </label>
              </div>
              <div class="col-sm-3">
                <div class="col-sm-3 nopadding">
                  <label style="line-height:2;margin-top: 3px;">Year:</label>
                </div>
                <div class="col-sm-7 nopadding">
                  <select class="form-control">
                    <option>2012</option>
                    <option>2013</option>
                    <option>2014</option>
                    <option>2015</option>
                    <option>2016</option>
                    <option>2017</option>
                    <option selected="selected">2018</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-3 nopadding">
                <div class="col-sm-3 nopadding">
                  <label style="line-height:2;margin-top: 3px;">Month:</label>
                </div>
                <div class="col-sm-7 nopadding" style="margin-left: 8px;">

                  <select class="form-control">
                    <option>Jan</option>
                    <option>Feb</option>
                    <option>Mar</option>
                    <option selected="selected">Apr</option>
                    <option>May</option>
                    <option>Jun</option>
                    <option>Jul</option>
                    <option>Aug</option>
                    <option>Sep</option>
                    <option>Oct</option>
                    <option>Nov</option>
                    <option>Dec</option>
                  </select>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 nopadding">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="dashboard-stat blue-madison">
            <div class="visual">
              <i class="fa fa-comments"></i>
            </div>
            <div class="details">
              <div class="number">
                120
              </div>
              <div class="desc">
                No.Of Candidates
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="dashboard-stat red-intense">
            <div class="visual">
              <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="details">
              <div class="number">
                15
              </div>
              <div class="desc">
                No.Of Staff Users
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="dashboard-stat green-haze">
            <div class="visual">
              <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
              <div class="number">
                <small style="font-size: 40%;"></small>&nbsp;90
              </div>
              <div class="desc">
                Evaluation Completed
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="dashboard-stat purple-plum">
            <div class="visual">
              <i class="fa fa-eye"></i>
            </div>
            <div class="details">
              <div class="number">
                <small style="font-size: 40%;"></small>&nbsp;21
              </div>
              <div class="desc">
                Evaluation In Process
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 nopadding margin-top-25">
        <chart [options]="options" style="min-width: 310px;"></chart>
      </div>

      <div class="col-sm-12 nopadding margin-top-25">
        <div class="col-sm-6" style="border:1px solid #e8e7e7;">
          <div class="form-group">
            <div id="container" style="min-width: 310px;"></div>
          </div>
        </div>
        <div class="col-sm-6" style="border:1px solid #e8e7e7;">
          <div class="form-group">
            <div id="container1" style="min-width: 310px;"></div>
          </div>
        </div>
      </div>

      <!-- END DASHBOARD STATS -->
      <div class="col-sm-12 nopadding margin-top-25">
        <h3 class="titles">
          Recent Candidate Evaluations
        </h3>
        <div class="col-sm-12 nopadding">
          <table class="table table-bordered table-responsive" id="table1">
            <thead>
              <tr>
                <th>Candidate ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th class="text-center">Evaluation History</th>
                <th class="text-center">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>CID0001</td>
                <td>David M</td>
                <td>david@outlook.com</td>
                <td>999-999-9999</td>
                <td class="text-center">
                  <a title="Click to view" data-toggle="modal" data-target="#modalevaluation">View</a>
                </td>
                <td class="text-center">
                  <a>Active</a>
                </td>

              </tr>
              <tr>
                <td>CID0002</td>
                <td>Roney L</td>
                <td>roney@pip.com</td>
                <td>999-777-9999</td>
                <td class="text-center">
                  <a title="Click to view" data-toggle="modal" data-target="#modalevaluation">View</a>
                </td>
                <td class="text-center">
                  <a>Active</a>
                </td>

              </tr>
              <tr>
                <td>CID0003</td>
                <td>Steve R</td>
                <td>steve@outlook.com</td>
                <td>999-222-1111</td>
                <td class="text-center">
                  <a title="Click to view" data-toggle="modal" data-target="#modalevaluation">View</a>
                </td>
                <td class="text-center">
                  <a>Active</a>
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-sm-12 nopadding margin-top-25">
        <h3 class="titles">
          Recent Candidate Enquiries
        </h3>
        <div class="col-sm-12 nopadding">
          <table class="table table-bordered table-responsive" id="table2">
            <thead>
              <tr>
                <th>Candidate Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Subject</th>
                <th class="text-center">Conversation History</th>
                <th class="text-center">Last Updated</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Ganesh</td>
                <td>satya@gmail.com</td>
                <td>999-393-9999</td>
                <td>Regarding Authentication</td>
                <td class="text-center">
                  <a title="Click to view" data-toggle="modal" data-target="#ModalPaymentView">View</a>
                </td>
                <td class="text-center">
                  29/12/17
                </td>

              </tr>
              <tr>
                <td>Roney L</td>
                <td>roney@pip.com</td>
                <td>999-234-9999</td>
                <td>Regarding Payments </td>
                <td class="text-center">
                  <a title="Click to view" data-toggle="modal" data-target="#ModalPaymentView">View</a>
                </td>
                <td class="text-center">
                  27/12/17
                </td>

              </tr>
              <tr>
                <td>Steve R</td>
                <td>Pavan@outlook.com</td>
                <td>999-222-2345</td>
                <td>Regarding Venues </td>
                <td class="text-center">
                  <a title="Click to view" data-toggle="modal" data-target="#ModalPaymentView">View</a>
                </td>
                <td class="text-center">
                  25/12/17
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="ModalPaymentView" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
          <b>Chat Conversation</b>
        </h4>
      </div>
      <div class="modal-body">
        <div class="portlet light ">
          <div class="portlet-title">
            <div class="col-sm-12 nopadding">
              <div class="col-sm-10">
              </div>
              <div class="col-sm-2">
                <div class="inputs">
                  <div class="portlet-input input-inline input-small">
                    <div class="input-icon right">
                      <i class="icon-magnifier"></i>
                      <input type="text" class="form-control input-circle pull-right" placeholder="search...">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="portlet-body" id="chats">
            <div class="scroller" style="height: 353px;" data-always-visible="1" data-rail-visible1="1">
              <ul class="chats">
                <li class="in">

                  <img class="avatar" alt="" src="/assets/theme/images/1.jpg" />
                  <div class="message">
                    <span class="arrow">
                    </span>
                    <a href="#" class="name">
                      Bob Nilson
                    </a>
                    <span class="datetime">
                      at 20:09
                    </span>
                    <span class="body">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                      aliquam erat volutpat.
                    </span>
                  </div>
                </li>
                <li class="out">
                  <img class="avatar" alt="" src="/assets/theme/images/2.jpg" />
                  <div class="message">
                    <span class="arrow">
                    </span>
                    <a href="#" class="name">
                      Lisa Wong
                    </a>
                    <span class="datetime">
                      at 20:11
                    </span>
                    <span class="body">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                      aliquam erat volutpat.
                    </span>
                  </div>
                </li>
                <li class="in">
                  <img class="avatar" alt="" src="/assets/theme/images/1.jpg" />
                  <div class="message">
                    <span class="arrow">
                    </span>
                    <a href="#" class="name">
                      Bob Nilson
                    </a>
                    <span class="datetime">
                      at 20:30
                    </span>
                    <span class="body">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                      aliquam erat volutpat.
                    </span>
                  </div>
                </li>
                <li class="out">
                  <img class="avatar" alt="" src="/assets/theme/images/2.jpg" />
                  <div class="message">
                    <span class="arrow">
                    </span>
                    <a href="#" class="name">
                      Richard Doe
                    </a>
                    <span class="datetime">
                      at 20:33
                    </span>
                    <span class="body">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                      aliquam erat volutpat.
                    </span>
                  </div>
                </li>
                <li class="in">
                  <img class="avatar" alt="" src="/assets/theme/images/1.jpg" />
                  <div class="message">
                    <span class="arrow">
                    </span>
                    <a href="#" class="name">
                      Richard Doe
                    </a>
                    <span class="datetime">
                      at 20:35
                    </span>
                    <span class="body">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                      aliquam erat volutpat.
                    </span>
                  </div>
                </li>
                <li class="out">
                  <img class="avatar" alt="" src="/assets/theme/images/2.jpg" />
                  <div class="message">
                    <span class="arrow">
                    </span>
                    <a href="#" class="name">
                      Bob Nilson
                    </a>
                    <span class="datetime">
                      at 20:40
                    </span>
                    <span class="body">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                      aliquam erat volutpat.
                    </span>
                  </div>
                </li>
                <li class="in">
                  <img class="avatar" alt="" src="/assets/theme/images/1.jpg" />
                  <div class="message">
                    <span class="arrow">
                    </span>
                    <a href="#" class="name">
                      Richard Doe
                    </a>
                    <span class="datetime">
                      at 20:40
                    </span>
                    <span class="body">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                      aliquam erat volutpat.
                    </span>
                  </div>
                </li>
                <li class="out">
                  <img class="avatar" alt="" src="/assets/theme/images/2.jpg" />
                  <div class="message">
                    <span class="arrow">
                    </span>
                    <a href="#" class="name">
                      Bob Nilson
                    </a>
                    <span class="datetime">
                      at 20:54
                    </span>
                    <span class="body">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                      aliquam erat volutpat. sed diam nonummy nibh euismod tincidunt ut laoreet.
                    </span>
                  </div>
                </li>
              </ul>
            </div>
            <div class="chat-form">
              <div class="input-cont">
                <input class="form-control" type="text" placeholder="Type a message here..." />
              </div>
              <div class="btn-cont">
                <span class="arrow">
                </span>
                <a href="" class="btn blue icn-only">
                  <i class="fa fa-check icon-white"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modalevaluation" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
          <b>Evaluation History</b>
        </h4>
      </div>
      <div class="modal-body" style="padding:27px;">
        <div class="row">
          <div class="col-sm-12 nopadding">
            <table class="table table-responsive table-bordered">
              <thead>
                <tr>
                  <th>Evaluation Date & Time</th>
                  <th>Evaluated By</th>
                  <th class="text-center">Details</th>
                  <th class="text-center">Report</th>
                  <th class="text-center">Email</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>30-Mar-18 10.00AM</td>
                  <td>Sampath</td>
                  <td class="text-center">
                    <a title="Click to view details" href="/admin/evaluationhistory" target="_blank">View</a>
                  </td>
                  <td class="text-center">
                    <a class="" title="Click to download" href="/assets/theme/PhoneFile/Phone Interview Pro.pdf" download>
                      <i class="fa fa-download"></i>
                    </a>
                  </td>
                  <td class="text-center">
                    <a class="" title="Click to send email" href="/admin/emails" target="_blank">
                      <i class="fa fa-envelope"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>29-Jan-18 10.00AM</td>
                  <td>Ankith</td>
                  <td class="text-center">
                    <a title="Click to view details" href="/admin/evaluationhistory" target="_blank">View</a>
                  </td>
                  <td class="text-center">
                    <a class="" title="Click to download" href="/assets/theme/PhoneFile/Phone Interview Pro.pdf" download>
                      <i class="fa fa-download"></i>
                    </a>
                  </td>
                  <td class="text-center">
                    <a class="" title="Click to send email" href="/admin/emails" target="_blank">
                      <i class="fa fa-envelope"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default pull-right" data-dismiss="modal">
          <span style="color:#000;">Close</span>
        </a>
      </div>
    </div>
  </div>
</div>