<div class="col-sm-12 nopadding">
  <div class="col-sm-1"></div>
  <div class="col-sm-8 nopadding">
    <h3 class="page-title">
      Dashboard
      <small>
        The summary picture of system activity, usage and statistics appears here.
      </small>
    </h3>
  </div>
</div>

<div class="row nopadding">
  <div class="col-sm-1"></div>
  <div class="col-sm-10 nopadding">
    <div class="col-sm-12 nopadding  margin-top-20">
      <div class="col-sm-12 margin-top-25">
        <div class="panel panel-default">
          <div class="panel-body" style="background-color:#eee;">
            <div class="col-sm-12 nopadding">
              <div class="col-sm-6 nopadding">
                <label style="font-size: 20px;">
                  <b>Filters</b>&nbsp;
                  <small style="font-size:13px;">Choose filters to refine data statistics</small>
                </label>
              </div>
              <div class="col-sm-3">
                <div class="col-sm-3 nopadding">
                  <label style="line-height:2;margin-top: 3px;">Year:</label>
                </div>
                <div class="col-sm-7 nopadding">
                  <select class="form-control">
                    <option>2012</option>
                    <option>2013</option>
                    <option>2014</option>
                    <option>2015</option>
                    <option>2016</option>
                    <option>2017</option>
                    <option selected="selected">2018</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-3 nopadding">
                <div class="col-sm-3 nopadding">
                  <label style="line-height:2;margin-top: 3px;">Month:</label>
                </div>
                <div class="col-sm-7 nopadding" style="margin-left: 8px;">

                  <select class="form-control">
                    <option>Jan</option>
                    <option>Feb</option>
                    <option>Mar</option>
                    <option selected="selected">Apr</option>
                    <option>May</option>
                    <option>Jun</option>
                    <option>Jul</option>
                    <option>Aug</option>
                    <option>Sep</option>
                    <option>Oct</option>
                    <option>Nov</option>
                    <option>Dec</option>
                  </select>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 nopadding">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="dashboard-stat blue-madison">
            <div class="visual">
              <i class="fa fa-comments"></i>
            </div>
            <div class="details">
              <div class="number">
                120
              </div>
              <div class="desc">
                No.Of Candidates
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="dashboard-stat red-intense">
            <div class="visual">
              <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="details">
              <div class="number">
                15
              </div>
              <div class="desc">
                No.Of Staff Users
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="dashboard-stat green-haze">
            <div class="visual">
              <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
              <div class="number">
                <small style="font-size: 40%;"></small>&nbsp;90
              </div>
              <div class="desc">
                Evaluation Completed
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="dashboard-stat purple-plum">
            <div class="visual">
              <i class="fa fa-eye"></i>
            </div>
            <div class="details">
              <div class="number">
                <small style="font-size: 40%;"></small>&nbsp;21
              </div>
              <div class="desc">
                Evaluation In Process
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 nopadding margin-top-25">
        <highcharts-chart [Highcharts]="Highcharts" [options]="columnChartOptions" style="width: 100%; height: 400px; display: block;"></highcharts-chart>
      </div>

      <div class="col-sm-12 nopadding margin-top-25">
        <div class="col-sm-6" style="border:1px solid #e8e7e7;">
          <div class="form-group">
            <highcharts-chart [Highcharts]="Highcharts" [options]="locationChartOptions" style="width: 100%; height: 400px; display: block;"></highcharts-chart>
          </div>
        </div>
        <div class="col-sm-6" style="border:1px solid #e8e7e7;">
          <div class="form-group">
            <highcharts-chart [Highcharts]="Highcharts" [options]="evaluationChartOptions" style="width: 100%; height: 400px; display: block;"></highcharts-chart>
          </div>
        </div>
      </div>

      <!-- END DASHBOARD STATS -->
      <div class="col-sm-12 nopadding margin-top-25">
        <h3 class="titles">
          Recent Candidate Evaluations
        </h3>
        <div class="col-sm-12 nopadding">
          <div class="col-sm-6 padding-10 padding-left-0">
            <select class="form-control  float-left" [(ngModel)]="rowsOnPage" style="width: 80px;">
              <option [ngValue]="5">5</option>
              <option [ngValue]="10">10</option>
              <option [ngValue]="15">15</option>
            </select>
          </div>
          <div class="col-sm-6 padding-10 padding-right-0">
            <div class="form-inline">
              <div class="form-group pull-right padding-right-0">
                <label for="email">
                  <b>Search:</b>
                </label>
                <input class="form-control mr-left-5" [(ngModel)]="filterQuery" />
              </div>
            </div>
          </div>
          <table class="table table-hover table-bordered table-striped" [mfData]="evaluationsTableData" #evaluationsTblData="mfDataTable"
            [mfRowsOnPage]="rowsOnPage">
            <thead>
              <tr class="tr-blue-grid-head">
                <th style="width: 10%">
                  <mfDefaultSorter by="candidate_id">Candidate ID</mfDefaultSorter>
                </th>
                <th style="width: 15%">
                  <mfDefaultSorter by="name">Name</mfDefaultSorter>
                </th>
                <th style="width: 20%">
                  <mfDefaultSorter by="email">Email</mfDefaultSorter>
                </th>
                <th style="width: 20%">
                  <mfDefaultSorter by="phone">Phone</mfDefaultSorter>
                </th>
                <th style="width: 20%" class="text-center">
                  <mfDefaultSorter by="">Evaluation History</mfDefaultSorter>
                </th>
                <th style="width: 15%" class="text-center">
                  <mfDefaultSorter by="">Status</mfDefaultSorter>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of evaluationsTblData.data">
                <td>{{item.candidate_id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.phone}}</td>
                <td class="text-center">
                  <a title="Click to view" style="cursor:pointer">View</a>
                </td>
                <td class="text-center">
                  <a style="cursor:pointer">Active</a>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="3" class="no-pagination-border padding-0">
                  <p class="pagination-summary-text">showing {{evaluationsTblData.data.length}} of {{evaluationsTableData.length}} records</p>
                </td>
                <td colspan="3" class="no-pagination-border padding-0">
                  <mfBootstrapPaginator></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>

      <div class="col-sm-12 nopadding margin-top-25">
        <h3 class="titles">
          Recent Candidate Enquiries
        </h3>
        <div class="col-sm-12 nopadding">
          <div class="col-sm-6 padding-10 padding-left-0">
            <select class="form-control  float-left" [(ngModel)]="rowsOnPageEval" style="width: 80px;">
              <option [ngValue]="5">5</option>
              <option [ngValue]="10">10</option>
              <option [ngValue]="15">15</option>
            </select>
          </div>
          <div class="col-sm-6 padding-10 padding-right-0">
            <div class="form-inline">
              <div class="form-group pull-right padding-right-0">
                <label for="email">
                  <b>Search:</b>
                </label>
                <input class="form-control mr-left-5" [(ngModel)]="filterQuery" />
              </div>
            </div>
          </div>
          <table class="table table-hover table-bordered table-striped" [mfData]="enquiriesTableData" #enquiriesTblData="mfDataTable"
            [mfRowsOnPage]="rowsOnPageEval">
            <thead>
              <tr class="tr-blue-grid-head">
                <th style="width: 10%">
                  <mfDefaultSorter by="candidate_name">Candidate Name</mfDefaultSorter>
                </th>
                <th style="width: 20%">
                  <mfDefaultSorter by="email">Email</mfDefaultSorter>
                </th>
                <th style="width: 20%">
                  <mfDefaultSorter by="phone">Phone</mfDefaultSorter>
                </th>
                <th style="width: 20%">
                  <mfDefaultSorter by="subject">Subject</mfDefaultSorter>
                </th>
                <th style="width: 20%" class="text-center">
                  <mfDefaultSorter by="">Conversation History</mfDefaultSorter>
                </th>
                <th style="width: 15%" class="text-center">
                  <mfDefaultSorter>Last Updated</mfDefaultSorter>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of enquiriesTblData.data">
                <td>{{item.candidate_name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.subject}}</td>
                <td class="text-center">
                  <a title="Click to view" style="cursor:pointer">View</a>
                </td>
                <td>{{item.last_updated}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="3" class="no-pagination-border padding-0">
                  <p class="pagination-summary-text">showing {{enquiriesTblData.data.length}} of {{enquiriesTableData.length}} records</p>
                </td>
                <td colspan="3" class="no-pagination-border padding-0">
                  <mfBootstrapPaginator></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="ModalPaymentView" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
          <b>Chat Conversation</b>
        </h4>
      </div>
      <div class="modal-body">
        <div class="portlet light ">
          <div class="portlet-title">
            <div class="col-sm-12 nopadding">
              <div class="col-sm-10">
              </div>
              <div class="col-sm-2">
                <div class="inputs">
                  <div class="portlet-input input-inline input-small">
                    <div class="input-icon right">
                      <i class="icon-magnifier"></i>
                      <input type="text" class="form-control input-circle pull-right" placeholder="search...">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="portlet-body" id="chats">
            <div class="scroller" style="height: 353px;" data-always-visible="1" data-rail-visible1="1">
              <ul class="chats">
                <li class="in">

                  <img class="avatar" alt="" src="/assets/images/1.jpg" />
                  <div class="message">
                    <span class="arrow">
                    </span>
                    <a href="#" class="name">
                      Bob Nilson
                    </a>
                    <span class="datetime">
                      at 20:09
                    </span>
                    <span class="body">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                      aliquam erat volutpat.
                    </span>
                  </div>
                </li>
                <li class="out">
                  <img class="avatar" alt="" src="/assets/images/2.jpg" />
                  <div class="message">
                    <span class="arrow">
                    </span>
                    <a href="#" class="name">
                      Lisa Wong
                    </a>
                    <span class="datetime">
                      at 20:11
                    </span>
                    <span class="body">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                      aliquam erat volutpat.
                    </span>
                  </div>
                </li>
                <li class="in">
                  <img class="avatar" alt="" src="/assets/images/1.jpg" />
                  <div class="message">
                    <span class="arrow">
                    </span>
                    <a href="#" class="name">
                      Bob Nilson
                    </a>
                    <span class="datetime">
                      at 20:30
                    </span>
                    <span class="body">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                      aliquam erat volutpat.
                    </span>
                  </div>
                </li>
                <li class="out">
                  <img class="avatar" alt="" src="/assets/images/2.jpg" />
                  <div class="message">
                    <span class="arrow">
                    </span>
                    <a href="#" class="name">
                      Richard Doe
                    </a>
                    <span class="datetime">
                      at 20:33
                    </span>
                    <span class="body">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                      aliquam erat volutpat.
                    </span>
                  </div>
                </li>
                <li class="in">
                  <img class="avatar" alt="" src="/assets/images/1.jpg" />
                  <div class="message">
                    <span class="arrow">
                    </span>
                    <a href="#" class="name">
                      Richard Doe
                    </a>
                    <span class="datetime">
                      at 20:35
                    </span>
                    <span class="body">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                      aliquam erat volutpat.
                    </span>
                  </div>
                </li>
                <li class="out">
                  <img class="avatar" alt="" src="/assets/images/2.jpg" />
                  <div class="message">
                    <span class="arrow">
                    </span>
                    <a href="#" class="name">
                      Bob Nilson
                    </a>
                    <span class="datetime">
                      at 20:40
                    </span>
                    <span class="body">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                      aliquam erat volutpat.
                    </span>
                  </div>
                </li>
                <li class="in">
                  <img class="avatar" alt="" src="/assets/images/1.jpg" />
                  <div class="message">
                    <span class="arrow">
                    </span>
                    <a href="#" class="name">
                      Richard Doe
                    </a>
                    <span class="datetime">
                      at 20:40
                    </span>
                    <span class="body">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                      aliquam erat volutpat.
                    </span>
                  </div>
                </li>
                <li class="out">
                  <img class="avatar" alt="" src="/assets/images/2.jpg" />
                  <div class="message">
                    <span class="arrow">
                    </span>
                    <a href="#" class="name">
                      Bob Nilson
                    </a>
                    <span class="datetime">
                      at 20:54
                    </span>
                    <span class="body">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                      aliquam erat volutpat. sed diam nonummy nibh euismod tincidunt ut laoreet.
                    </span>
                  </div>
                </li>
              </ul>
            </div>
            <div class="chat-form">
              <div class="input-cont">
                <input class="form-control" type="text" placeholder="Type a message here..." />
              </div>
              <div class="btn-cont">
                <span class="arrow">
                </span>
                <a href="" class="btn blue icn-only">
                  <i class="fa fa-check icon-white"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modalevaluation" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
          <b>Evaluation History</b>
        </h4>
      </div>
      <div class="modal-body" style="padding:27px;">
        <div class="row">
          <div class="col-sm-12 nopadding">
            <table class="table table-responsive table-bordered">
              <thead>
                <tr>
                  <th>Evaluation Date & Time</th>
                  <th>Evaluated By</th>
                  <th class="text-center">Details</th>
                  <th class="text-center">Report</th>
                  <th class="text-center">Email</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>30-Mar-18 10.00AM</td>
                  <td>Sampath</td>
                  <td class="text-center">
                    <a title="Click to view details" href="/admin/evaluationhistory" target="_blank">View</a>
                  </td>
                  <td class="text-center">
                    <a class="" title="Click to download" href="/assets/PhoneFile/Phone Interview Pro.pdf" download>
                      <i class="fa fa-download"></i>
                    </a>
                  </td>
                  <td class="text-center">
                    <a class="" title="Click to send email" href="/admin/emails" target="_blank">
                      <i class="fa fa-envelope"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>29-Jan-18 10.00AM</td>
                  <td>Ankith</td>
                  <td class="text-center">
                    <a title="Click to view details" href="/admin/evaluationhistory" target="_blank">View</a>
                  </td>
                  <td class="text-center">
                    <a class="" title="Click to download" href="/assets/PhoneFile/Phone Interview Pro.pdf" download>
                      <i class="fa fa-download"></i>
                    </a>
                  </td>
                  <td class="text-center">
                    <a class="" title="Click to send email" href="/admin/emails" target="_blank">
                      <i class="fa fa-envelope"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default pull-right" data-dismiss="modal">
          <span style="color:#000;">Close</span>
        </a>
      </div>
    </div>
  </div>
</div>