<div class="modal delete-modal fade" bsModal #closeConfirmationModal="bs-modal" [config]="{backdrop: 'static'}" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm confirmation-modal-sm">
        <div class="modal-content">
            <div class="modal-header modal-header-color">

                <button type="button" class="close-modal modal-opacity close-modal-blue" (click)="closeConfirmationModal.hide()" aria-hidden="true">×</button>
                <h5 class="modal-title color-white" id="myModalLabel">
                    Close
                </h5>
            </div>

            <div class="modal-body row">
                <div class="col-xs-12">
                    Are you sure want to close?
                </div>
            </div>

            <div class="modal-footer footer-background">
                <button type="submit" class="btn btn-primary btn-blue" (click)="onClick($event)">
                        	Ok</button>
                <button type="button" class="btn btn-default" (click)="closeConfirmationModal.hide()">Cancel</button>
            </div>
        </div>

    </div>
</div>