#bottom {
    font-size: 10px;
    text-align: center;
    margin-bottom: 0px;
}

    #bottom, #bottom a {
        color: #FFF;
    }

.footer li a {
    color: #FFF !important;
}

.martop10 {
    margin-top: 10px;
}

.heading {
    color: #1538a9;
}

.padleft0 {
    padding-left: 0px;
}

.marbot0 {
    margin-bottom: 0px;
}

.twocolumn {
    border: 1px solid #f2f2f2;
    border-radius: 7px;
}

.bodycontainer {
    width: 88%;
    margin: 3% auto 3% auto;
    background-color: #FFF;
    border-radius: 3px;
}

.carousel {
    margin: 15px auto 15px auto;
    width: 93% !important;
}

.carousel-container {
    margin: 0px;
}

.pad10 {
    padding: 15px 10px 10px 10px;
}

.newproducts {
    padding: 10px;
    margin-bottom: 10px;
}

.carousel ul {
    margin: 0px;
    padding: 0px;
    position: relative;
    list-style: none;
    z-index: 1;
    width: 2720px;
    left: -1120px;
}

    .carousel ul li {
        overflow: hidden;
        float: left;
        width: 160px;
        height: 138px;
        padding-left: 20px;
    }

.bdrleft {
    border-right: 1px solid black;
    padding-left: 0px !important;
}

#directoryframe {
}

.dispimg {
    margin: -47px 0px 7px 7px;
    width: 100px;
    height: auto !important;
}

.onecolumn {
    padding-top: 15px;
    border: 1px solid #f2f2f2;
    box-shadow: 1px 0px 10px -9px #f2f2f2;
    border-radius: 7px;
}

.browse-products {
    border: 1px solid #d2d2d2;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 7px;
    /*margin-left:10px;*/
}

.minheight {
    min-height: 170px !important;
}

.browse {
    border-bottom: 1px solid #d2d2d2;
    padding-left: 0px !important;
}

    .browse label {
        font-size: 14px;
    }

.btnstarted {
    background-color: #3fc2ba;
}

.advertheader {
    width: 88%;
    margin: 0 auto 0px auto;
    color: #FFF;
    padding: 10px 0 0px 0;
}

.clear {
    clear: both;
}

a {
    text-decoration: none !important;
}

.slidermain > li > img {
    width: 100%;
}

.nopadleft {
    padding-left: 0px !important;
}

.slidermain {
    /*margin: 10px 0;*/
    width: 100%; /* Update to your slider width */
    height: 400px; /* Update to your slider height */
    position: relative;
    overflow: hidden;
    margin-bottom: 0px !important;
}

    .slidermain li {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

.logo {
    float: left;
    margin-right: 3%;
}

.started h4 {
    color: #FFF;
    padding-top:5px;
}

.logoheader div {
    padding: 0px;
}

#topnav li a {
    font-size: 12px;
}

.black {
    background-color: #000;
}


.logoheader {
    width: 93% !important;
    margin: auto;
    padding-left: 0px !important;
}

.bsicinf:before {
    position: relative;
    font-family: FontAwesome;
    content: "\f16a";
    font-size: 43px;
    top: 7px;
    margin-right: 10px;
}

.btnlogin {
    float: right;
    margin: 10px;
}

.item {
    height: 30%;
    width: 100%;
}

    .item img {
        width: 100%;
    }

.size1 h1 {
    color: #FFF;
}

.size1 h2 {
    color: #fff;
    font-size: 27px;
    font-weight: 200;
    line-height: 35px;
    margin: 0;
    padding: 5px 0 20px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.33);
}

#footer {
    box-shadow: 1px -3px 8px 1px #ddd;
}

.footer {
    margin-top: 10px;
}

.carousel-container {
    border: 1px solid #bababa;
    border-radius: 10px;
    width: 98%;
    background-color: ghostwhite;
    s;
}

#jcl-demo .carousel {
    background-color: ghostwhite;
    float: left;
    padding-left: 10px;
    position: relative;
    visibility: hidden;
    /* left: -5000px; */
}

.size1 {
    background-color: black !important;
    opacity: 0.47 !important;
    margin-top: 5% !important;
    position: absolute !important;
    margin-left: 8% !important;
    padding-left: 33px !important;
    z-index: 99999;
    padding-bottom: 20px;
    border-radius: 3px;
    margin-bottom: 10px;
}

    .size1 span {
        font-size: 23px;
        font-weight: 200;
        color: #FFF;
    }

.transparent-block-1 {
    color: white;
    font-size: 45px;
}

.transparent-block-2 {
    color: white;
    font-size: 25px;
}

.shdw {
    box-shadow: 0 0 7px 2px #35c0fc !important;
}

.navicons {
    text-align: center;
}

.logoheader h3 {
    color: #FFF;
}

@media (max-width:800px) {
    .transparent-block-1 {
        font-size: 30px;
    }

    .transparent-block-2 {
        font-size: 18px;
    }
}

@media (max-width:650px) {
    .transparent-block-1 {
        font-size: 22px;
    }

    .transparent-block-2 {
        font-size: 16px;
    }
}

/*Main style End here*/
/*theme-spare css for the navbar*/
#topnav.open ul.subnav_nested, ul.subnav_nested {
    display: none;
}

#topnav {
    width: 100%;
    position: relative;
}

    #topnav a.pull {
        display: none;
        padding: .5em;
    }

    #topnav.open ul {
        max-height: 100%;
        -webkit-transition: max-height .5s ease-in;
        -moz-transition: max-height .5s ease-in;
        -o-transition: max-height .5s ease-in;
        -ms-transition: max-height .5s ease-in;
        transition: max-height .5s ease-in;
    }

    #topnav .mainnav {
        margin: 0;
        padding: 10px;
        border: 0;
        /* float: left; */
        width: 100%;
        position: relative;
        display: block;
    }

    #topnav li {
        margin: 0;
        padding: 0;
        border: 0;
        width: auto;
        display: inline;
        float: left;
    }

    #topnav .mainnav a {
        padding: .6em 1em;
        text-decoration: none;
        display: block;
    }

        #topnav .mainnav a:hover {
            text-decoration: none;
        }

    #topnav .subnav {
        margin: 0;
        padding: 0;
        border: 0;
        float: left;
        width: 100%;
        display: block;
    }

        #topnav .subnav a {
            padding: .5em 1.15em;
            font-size: 1em;
            text-decoration: none;
            display: block;
        }

            #topnav .subnav a:hover {
                text-decoration: none;
            }

        #topnav .subnav li.selected a {
            text-decoration: none;
        }

    #topnav .subnav, #bottomnav .subnav_nested {
        display: none;
    }

nav ul .subnav_nested {
    display: block;
    opacity: 0;
    z-index: 500;
}

.subnav_nested {
    position: absolute;
    margin: 0;
    border: 0;
    list-style: none;
    white-space: normal;
    width: auto;
    z-index: 3000;
}

#topnav .subnav_nested li {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    float: none;
    display: block;
}

.mainnav ul {
    position: absolute;
    opacity: 1;
    -webkit-transition: opacity .25s ease .1s;
    -moz-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
}

.mainnav li:hover > ul {
    opacity: 1;
}

.mainnav ul li {
    height: 0;
    overflow: hidden;
    padding: 0;
    -webkit-transition: height .25s ease .1s;
    -moz-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
}

.mainnav li:hover > .subnav_nested li {
    height: 100%;
    overflow: visible;
    padding: 0;
}

.mainnav .subnav_nested li a {
    margin: 0;
    border: 0;
}

#topnav .subnav_nested li {
    max-width: 15em;
}

@media only screen and (max-width:900px) {
    #topnav a.pull {
        display: block;
        background: aliceblue !important;
        color: #0085CC;
        font-size: 140%;
    }

    #topnav.open ul.subnav_nested, ul.subnav_nested {
        display: block;
    }

    #topnav .mainnav ul li {
        height: auto;
    }

    #topnav.open .subnav {
        display: none;
    }

    #topnav {
        border-bottom: 0;
    }

        #topnav ul {
            overflow: hidden;
            max-height: 0;
            text-align: left;
            -webkit-transition: max-height .5s ease-out;
            -moz-transition: max-height .5s ease-out;
            -o-transition: max-height .5s ease-out;
            -ms-transition: max-height .5s ease-out;
            transition: max-height .5s ease-out;
            position: relative;
            opacity: 1;
        }

    #topnav {
        height: auto;
    }

        #topnav ul {
            width: 100%;
            display: table;
            height: auto;
        }

        #topnav li {
            position: relative;
            display: block;
            float: none;
        }

        #topnav .subnav_nested li {
            max-width: 100%;
        }
}

#topnav .mainnav a {
    padding: 1em;
}

#topnav .mainnav li > a:hover, #topnav .mainnav li.selected > a, #topnav .subnav_nested li > a {
    color: #000;
}

/*#topnav .mainnav {
	border-width: 1px 0 0;
	border-style: solid;
	border-color: #333
}*/

#topnav .subnav_nested li {
    border-top: 1px solid #ccc;
}

    #topnav .subnav_nested a:hover, #topnav .subnav a:hover, #topnav .subnav_nested li.selected a, #topnav .subnav li.selected a {
        color: #fff;
    }
/*@media only screen and (max-width:800px) {
	#topnav a.pull {
		background: #000 url(../images/base/nav-icon.png) no-repeat 98% center;
		font-size: 1.3em
	}
	#topnav li {
		border-top: 1px solid #fff
	}
	#topnav .subnav_nested a {
		padding: .3em
	}
	#topnav .subnav_nested a {
		text-indent: 1.5em
	}
	.clicked .carousel.media {
		background: #fff;
		color: #000;
		padding: 0;
		margin-left: 0
	}
}*/

.mainnav ul {
    position: absolute;
    opacity: 1;
    -webkit-transition: opacity .25s ease .1s;
    -moz-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
}

.mainnav li:hover > ul {
    opacity: 1;
}

.mainnav ul li {
    height: 0;
    overflow: hidden;
    padding: 0;
    -webkit-transition: height .25s ease .1s;
    -moz-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
}
/*theme-spare css for navbar ends here*/
/*Screen.CSS for navbar*/
#topnav .subnav_nested li a:hover, #topnav .subnav li a:hover, #topnav .subnav_nested li.selected a, #topnav .subnav li.selected a {
    background-color: #0085CC;
}

#topnav .mainnav li > a:hover, #topnav .mainnav li.selected > a, #topnav .subnav_nested li a, #topnav .subnav li a {
    color: #0085CC;
}

#topnav .subnav a {
    font-size: 120%;
}

#topnav .mainnav li > a {
    color: #000;
    font-weight: 700;
}

#topnav {
    font-weight: normal;
}

    #topnav a {
        font-family: "bebas-neue",sans-serif;
    }

    #topnav .mainnav > .subnav_nested a {
        font-size: 120%;
    }

@media only screen and (max-width:48em) {
    #topnav a:hover, #topnav .subnav a, #topnav .subnav_nested a {
        background-color: #0085CC;
    }
}

#topnav .mainnav a {
    background-color: transparent;
}

#topnav.open ul {
    max-height: 1200px;
    transition: max-height 0.5s ease-in 0s;
}

.mainnav {
    border-width: 1px 0 0;
    border-style: solid;
    border-color: #333;
}

/*screen.css for navbar ends here*/
.content-header {
    background: url(/Content/images/line.png) no-repeat bottom left;
    padding: 6px 0 22px 0;
    margin-bottom: 10px;
    width: 98%;
}


.footertext {
    margin-left: -129px;
    color: #fff;
}


@media (max-width:760px) {
    .footertext {
        margin-left: 0;
        color: #fff;
    }
}
/*New*/

.section.circles {
    background-color: #000000;
      min-height: 310px;
}


.row-fluid [class*="span"]:first-child {
    margin-left: 0;
}


.section.circles .circle {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 10px solid #FF950D;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    margin: 20px 0;
    font-family: 'Swiss721BT-BlackRounded', Helvetica, Arial, sans-serif;
    font-weight: normal;
}

    .section.circles .circle .title {
        line-height: 40px;
        font-size: 34px;
        padding-top: 70px;
    }

    .section.circles .circle .txt {
        font-size: 20px;
        line-height: 24px;
    }

.row-fluid {
    width: 100%;
}

.section.intro p {
    margin: 0 auto;
}

.row-fluid [class*="span"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 30px;
    margin-left: 2.564102564102564%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.section {
    position: relative;
    padding: 40px 0;
}

@media (max-width: 767px) {
    .custom-menu-primary .hs-menu-wrapper > ul {
        float: none !important;
    }
}

h1 {
    font-family: 'Swiss721BT-BlackRounded',Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 52px;
    line-height: 56px;
    margin-bottom: 30px;
}

.margin-top-fifty {
    margin-top: 50px;
}

.section .price_box {
    -webkit-transition: padding 100ms cubic-bezier(0.39,.575,.565,1), margin 100ms cubic-bezier(0.39,.575,.565,1), -webkit-transform 800ms cubic-bezier(0.39,.575,.565,1) 500ms, opacity 800ms cubic-bezier(0.39,.575,.565,1) 500ms;
    -moz-transition: all 100ms cubic-bezier(0.39,.575,.565,1);
    -o-transition: all 100ms cubic-bezier(0.39,.575,.565,1);
    transition: padding 100ms cubic-bezier(0.39,.575,.565,1), margin 100ms cubic-bezier(0.39,.575,.565,1), transform 800ms cubic-bezier(0.39,.575,.565,1) 500ms, opacity 800ms cubic-bezier(0.39,.575,.565,1) 500ms;
    -webkit-box-shadow: 0px 0px 11px rgba(50, 50, 50, 0.30);
    -moz-box-shadow: 0px 0px 11px rgba(50, 50, 50, 0.30);
    box-shadow: 0px 0px 11px rgba(50, 50, 50, 0.30);
}

    .section .price_box.free {
        margin-top: 171px;
    }

        .section .price_box.free:hover {
            margin-top: 141px;
        }

    .section .price_box.pro {
        margin-top: 130px;
    }

        .section .price_box.pro:hover {
            margin-top: 100px;
        }

    .section .price_box.enterprise {
        margin-top: 68px;
    }

        .section .price_box.enterprise:hover {
            margin-top: 38px;
        }

    .section .price_box .lessthan {
        min-height: 16px;
    }

    .section .price_box. .yearly {
        padding: 7px 0;
    }

    .section .price_box .yearly {
        min-height: 16px;
    }

    .section .price_box .ent-price {
        margin: 40px 10px 39px 10px;
    }

    .section .price_box .price-title {
        padding-bottom: 10px;
        margin: 30px 10px;
        border-bottom: 1px solid #e5e5e5;
    }

    .section .price_box:hover {
        padding-top: 60px;
        -webkit-box-shadow: 0px 0px 15px rgba(255, 142, 0, 1);
        -moz-box-shadow: 0px 0px 15px rgba(255, 142, 0, 1);
        box-shadow: 0px 0px 15px rgba(255, 142, 0, 1);
    }

.section.pricing .pricebox-desc {
    margin-top: 50px;
}

.section.pricing .price_box .icon-arrow-down {
    margin-right: 4px;
    margin-top: 0;
}

.section.pricing .border-radius-five {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

@media(max-width: 1200px) {
    p .price-title;

{
    height: 50px;
}

}

@media(max-width: 1200px) and (min-width: 979px) {
    .section .price_box.free;

{
    margin-top: 210px;
}

.section .price_box.free:hover {
    margin-top: 180px;
}

body.mobileIos .section .price_box.free {
    margin-top: 245px;
}

    body.mobileIos .section .price_box.free:hover {
        margin-top: 215px;
    }


.section .price_box.enterprise {
    margin-top: 103px;
}

    .section .price_box.enterprise:hover {
        margin-top: 73px;
    }

}

@media (max-width: 979px) {
    .price_box {
        padding: 25px;
        display: block !important;
        float: none !important;
        width: 100% !important;
        margin-left: 0 !important;
    }
}

/* tablet landscape mode */
@media (max-width: 979px) and (min-width: 768px) {
    .section .price_box {
        margin-top: 50px!important;
    }
}

@media (max-width: 767px) {
    .section .price_box.free,
    .section .price_box.pro,
    .section .price_box.enterprise {
        margin-top: 20px;
    }

        .section .price_box.free:hover,
        .section .price_box.pro:hover,
        .section .price_box.enterprise:hover {
            margin-top: 20px;
            padding-top: 25px;
        }
}

.currency {
    float: right;
    background-color: #ebebeb;
    overflow: hidden;
    border: 1px solid #e5e5e5;
    border-radius: 9px;
}

    .currency div {
        font-size: 16px;
        display: inline-block;
        color: #555;
        text-decoration: none;
        font-weight: bold;
        background-color: #ebebeb;
        cursor: pointer;
        padding: 15px;
        -webkit-transition: background-color .3s ease,color .3s ease;
        -moz-transition: background-color .3s ease,color .3s ease;
        -ms-transition: background-color .3s ease,color .3s ease;
        -o-transition: background-color .3s ease,color .3s ease;
        transition: background-color .3s ease,color .3s ease;
    }

        .currency div:hover, .currency div.selected {
            color: #ff8e00;
            background-color: #e5e5e5;
        }

@media (min-width: 1200px) {
    .row-fluid {
        width: 100%;
    }
}

.section .price_box .price-title {
    padding-bottom: 10px;
    margin: 30px 10px;
    border-bottom: 1px solid #e5e5e5;
}

.price_box h2 {
    margin-top: 0;
}

.section .price_box.free:hover {
    margin-top: 141px;
}

.text-center {
    text-align: center;
}

.fixheight {
    margin: 40px auto;
}

.btn-success {
    background: #9bd000;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #8bc700;
    color: #555;
    text-decoration: none;
}

.section.pricing .border-radius-five {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.section .price_box:hover {
    padding-top: 60px;
    -webkit-box-shadow: 0px 0px 15px rgba(255, 142, 0, 1);
    -moz-box-shadow: 0px 0px 15px rgba(255, 142, 0, 1);
    box-shadow: 0px 0px 15px rgba(255, 142, 0, 1);
}

.section .price_box.free {
    margin-top: 171px;
}

@media (min-width: 1200px) .row-fluid [class*="span"]:first-child {
    margin-left: 0;
}

.row-fluid [class*="span"]:first-child {
    margin-left: 0;
}

.section .price_box {
    -webkit-transition: padding 100ms cubic-bezier(0.39,.575,.565,1), margin 100ms cubic-bezier(0.39,.575,.565,1), -webkit-transform 800ms cubic-bezier(0.39,.575,.565,1) 500ms, opacity 800ms cubic-bezier(0.39,.575,.565,1) 500ms;
    -moz-transition: all 100ms cubic-bezier(0.39,.575,.565,1);
    -o-transition: all 100ms cubic-bezier(0.39,.575,.565,1);
    transition: padding 100ms cubic-bezier(0.39,.575,.565,1), margin 100ms cubic-bezier(0.39,.575,.565,1), transform 800ms cubic-bezier(0.39,.575,.565,1) 500ms, opacity 800ms cubic-bezier(0.39,.575,.565,1) 500ms;
    -webkit-box-shadow: 0px 0px 11px rgba(50, 50, 50, 0.30);
    -moz-box-shadow: 0px 0px 11px rgba(50, 50, 50, 0.30);
    box-shadow: 0px 0px 11px rgba(50, 50, 50, 0.30);
}

@media (min-width: 1200px) {
    .row-fluid .span4 {
        width: 31.623931623931625%;
    }
}

@media (min-width: 1200px) {
    .row-fluid [class*="span"] {
        display: block;
        float: left;
        width: 100%;
        min-height: 30px;
        margin-left: 2.564102564102564%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

.row-fluid .span4 {
    width: 31.914893617021278%;
}

.row-fluid [class*="span"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 30px;
    margin-left: 2.127659574468085%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.price_box {
    position: relative;
    padding: 30px 10px 25px 10px;
    margin-top: 20px;
    background-color: #fff;
}

.active {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0) scale(1);
    -moz-transform: translate3d(0,0,0) scale(1);
    -ms-transform: translate3d(0,0,0) scale(1);
    -o-transform: translate3d(0,0,0) scale(1);
    -webkit-transition-property: -webkit-transform,opacity;
    -moz-transition-property: -moz-transform,opacity;
    -ms-transition-property: -ms-transform,opacity;
    -o-transition-property: -o-transform,opacity;
    transition-property: transform,opacity;
    -webkit-transition-duration: 800ms;
    -moz-transition-duration: 800ms;
    -ms-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    transition-duration: 800ms;
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -ms-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    transition-delay: 500ms;
    -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
    -moz-transition-timing-function: cubic-bezier(.39,.575,.565,1);
    -ms-transition-timing-function: cubic-bezier(.39,.575,.565,1);
    -o-transition-timing-function: cubic-bezier(.39,.575,.565,1);
    transition-timing-function: cubic-bezier(.39,.575,.565,1);
}

@media (min-width: 1200px) {
    .span4 {
        width: 370px;
    }
}

@media (min-width: 1200px) {
    [class*="span"] {
        float: left;
        min-height: 1px;
        margin-left: 30px;
    }
}

.text-center {
    text-align: center;
}

.span4 {
    width: 300px;
}

.prices {
    padding-top: 16px;
    padding-bottom: 10px;
}

.section .price_box.pro {
    margin-top: 130px;
}

a.btn:hover {
    text-decoration: none!important;
    color: #fff!important;
}

.section .price_box .lessthan {
    min-height: 16px;
}

.price_box h3 {
    font-size: 25px;
    line-height: 25px;
}

.section .price_box .yearly {
    min-height: 16px;
}

.price_box .btn {
    margin-top: 10px;
}

.price_box h3 {
    font-size: 25px;
    line-height: 25px;
}

.color-superdark-gray {
    color: #555;
}

h2, h3 {
    color: #ff8e00;
}

h3 {
    font-family: "Helvetica neue",Helvetica,arial,Tahoma,SanSerif;
    font-weight: bold;
    font-size: 20px;
}

h3 {
    font-size: 24.5px;
}

h1, h2, h3 {
    line-height: 40px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    text-rendering: optimizelegibility;
}

user agent stylesheeth3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.btn-spacing {
    margin-right: 5px;
}

.section .price_box.pro:hover {
    margin-top: 100px;
}

@media (min-width: 1200px) {
    .row-fluid .offset1:first-child {
        margin-left: 8.547008547008547%;
    }
}

.section .price_box.enterprise {
    margin-top: 68px;
}

.price_box h2 {
    color: #ff8e00;
    font-family: 'Swiss721BT-BlackRounded',Helvetica,Arial,sans-serif;
    font-size: 32px;
    line-height: 36px;
    margin: 25px 0 15px 0;
    font-weight: normal;
}

.btn-success:hover, .btn-success:active {
    color: #fff;
    background: #85bf00;
}

.footer {
    color: #FFF;
    font-size: 12px;
}

.backblue {
    background-color: #151B54;
    padding: 110px 0px;
}

    .backblue h1,.backblue h4 {
        color: #FFF;
    }

.content h1, .content h2 {
    font: 400 37px "PT Sans Narrow", Arial, sans-serif;
    margin: 0 0 10px;
    text-transform: uppercase;
    text-align: center;
}
.btngradient {
background: rgb(157, 213, 58) !important;
background: -moz-linear-gradient(-45deg, rgba(157, 213, 58, 1) 1%, rgba(161, 213, 79, 1) 51%, rgba(161, 213, 79, 1) 51%, rgba(128, 194, 23, 1) 51%, rgba(124, 188, 10, 1) 100%) !important;
background: -webkit-gradient(linear, left top, right bottom, color-stop(1%, rgba(157 , 213, 58, 1)), color-stop(51%, rgba(161, 213, 79, 1)), color-stop(51%, rgba(161, 213, 79, 1)), color-stop(51%, rgba(128, 194, 23, 1)), color-stop(100%, rgba(124, 188, 10, 1))) !important;
background: -webkit-linear-gradient(-45deg, rgba(157, 213, 58, 1) 1%, rgba(161, 213, 79, 1) 51%, rgba(161, 213, 79, 1) 51%, rgba(128, 194, 23, 1) 51%, rgba(124, 188, 10, 1) 100%) !important;
background: -o-linear-gradient(-45deg, rgba(157, 213, 58, 1) 1%, rgba(161, 213, 79, 1) 51%, rgba(161, 213, 79, 1) 51%, rgba(128, 194, 23, 1) 51%, rgba(124, 188, 10, 1) 100%) !important;
background: -ms-linear-gradient(-45deg, rgba(157, 213, 58, 1) 1%, rgba(161, 213, 79, 1) 51%, rgba(161, 213, 79, 1) 51%, rgba(128, 194, 23, 1) 51%, rgba(124, 188, 10, 1) 100%) !important;
background: linear-gradient(135deg, rgba(157, 213, 58, 1) 1%, rgba(161, 213, 79, 1) 51%, rgba(161, 213, 79, 1) 51%, rgba(128, 194, 23, 1) 51%, rgba(124, 188, 10, 1) 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a', GradientType=1) !important;
}
.btngradient:hover {
background: rgb(104, 165, 46) !important;
background: -moz-linear-gradient(-45deg, rgba(104, 165, 46, 1) 0%, rgba(115, 183, 69, 1) 50%, rgba(71, 173, 20, 1) 51%, rgba(58, 99, 5, 1) 100%) !important;
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(104 , 165, 46, 1)), color-stop(50%, rgba(115, 183, 69, 1)), color-stop(51%, rgba(71, 173, 20, 1)), color-stop(100%, rgba(58, 99, 5, 1))) !important;
background: -webkit-linear-gradient(-45deg, rgba(104, 165, 46, 1) 0%, rgba(115, 183, 69, 1) 50%, rgba(71, 173, 20, 1) 51%, rgba(58, 99, 5, 1) 100%) !important;
background: -o-linear-gradient(-45deg, rgba(104, 165, 46, 1) 0%, rgba(115, 183, 69, 1) 50%, rgba(71, 173, 20, 1) 51%, rgba(58, 99, 5, 1) 100%) !important;
background: -ms-linear-gradient(-45deg, rgba(104, 165, 46, 1) 0%, rgba(115, 183, 69, 1) 50%, rgba(71, 173, 20, 1) 51%, rgba(58, 99, 5, 1) 100%) !important;
background: linear-gradient(135deg, rgba(104, 165, 46, 1) 0%, rgba(115, 183, 69, 1) 50%, rgba(71, 173, 20, 1) 51%, rgba(58, 99, 5, 1) 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68a52e', endColorstr='#3a6305', GradientType=1) !important;
color: white !important;
}
.btngradient {
margin-top: 5%;
width: 200px;
font-weight: bold;
padding: 20px;
font-size: 18px;
color:#fff;
border-radius: 0px !important;
}
.white {
    padding: 20px 0px;
}
.custom-logo-text {
    color: #000;
  line-height: 40px;
  font: bold 24px "PT Sans Narrow", Arial, sans-serif;
  line-height: 36px;
  margin-left:5px;
}

    .custom-logo-text span {
        color: #fff;
        font-size:inherit;
    }
.btn-GetStarted{
      background-color: #3fc2ba;
      color: white;
}

.freetrail
{
      margin-top: 5px;
  margin-bottom: 10px;
}
.freetrail-control
{
      margin-top: 10px;
  margin-bottom: 5px;
}

@media (min-width: 275px) {
    .slidermain {
        height: 120px;
    }
}

@media (min-width: 325px) {
    .slidermain {
        height: 145px;
    }
}
@media (min-width: 400px) {
    .slidermain {
        height: 180px;
    }
}
@media (min-width: 500px) {
    .slidermain {
        height: 230px;
    }
}
@media (min-width: 700px) {
    .slidermain {
        height: 325px;
    }
}
@media (min-width: 770px) {
    .slidermain {
        height: 380px;
    }
}
@media (min-width: 980px) {
    .slidermain {
        height: 400px;
    }
}

/* Header Black Theme */
.header-black
{
    background:#000000;
}
.custom-menu-primary .hs-menu-wrapper > ul > li > a
{
      color: #FFF !important;
        margin-top: 7px !important;
}

.custom-menu-primary .hs-menu-wrapper > ul > li:last-child a
{
       margin-top: 5px !important;
         background: none repeat scroll 0 0 #00ADEF !important;
           box-shadow: 0 -3px 0 rgba(0, 134, 238, 1) inset !important;
          
}
    .custom-menu-primary .hs-menu-wrapper > ul > li:last-child a:hover
    {
          background: none repeat scroll 0 0 #00A2E0;
           color:#FFFFFF !important;
             opacity: 0.9;
    }

@media (max-width: 767px)
{
    .mobile-trigger
    {
          background: #00ADEF !important;
            border: 1px solid #007CD7 !important;
            top:0px !important;
            margin:5px 0px !important;
    }
    .custom-menu-primary .hs-menu-wrapper > ul li a
    {
          color: #000000 !important;
    }
    .custom-menu-primary .hs-menu-wrapper > ul > li:last-child a
    {
          background: transparent !important;
          font-weight:normal !important;
    }
        .custom-menu-primary .hs-menu-wrapper > ul > li:last-child a:hover
        {
               color: #00ADEF !important;
        }
}
.custom-menu-primary .hs-menu-wrapper > ul > li > a:hover
{
     color: #00ADEF !important;
}
.custom-logo-text
{
    color: #ffffff;
}
.btn-GetStarted
{
    background-color: #00ADEF;
    color: white;
}
/* End Header Black Theme */

.nopadding
{
    padding:0px;
}

.lblfnt {
  margin-top: 5px;
}
label {
  font-weight: 400;
  font-size: 15px;
}
form span {
  vertical-align: middle;
}
span{
      font-size: 13px;
  direction: ltr;
}
.row
{
    margin-top:10px;
}
.add-member-label::after {
  content: '*';
  color: red;
}

.btn-blue{
  background: #08A0D9;
  color: #fff;
}
    .btn-blue:hover
    {
        background:#00ADEF ;
        color:#fff;
    }
     .btn-blue:focus
    {
        background:#00ADEF ;
        color:#fff !important;
    }
     .btn-blue:active
    {
        background:#00ADEF ;
        color:#fff !important;
    }
      .btn-gray:hover
    {
       opacity:0.8;
    }

.margin-top-20
{
    margin-top:20px;
}

@media (max-width: 767px)
{
    body .hs-button.primary, body input[type="submit"], body input[type="button"]
    {  background: none repeat scroll 0 0 #08A0D9 !important;
  border: medium none;
  box-shadow: 0 -3px 0 rgba(7, 128, 173, 1) inset !important;
    }
}

.section.circles .circle .title
{
      font-size: 26px;
}
.back-description
{
      padding: 58px 10px;
      background: #000;
      color:#fff;
        height: 250px;
}
.back-title {
  font-size: 28px;
}
.card
{
      cursor: pointer;
  width: 200px;
  height: 250px;
  margin: auto;
}
@media (max-width: 1139px) and (min-width: 768px)
{
    .row-fluid .span3
    {
        width: 48.928177% !important;
        display: inline-block !important;
        margin: 0 auto !important;
        float: none !important;
    }
}