/* You can add global styles to this file, and also import other style files */
.header-nav{
    background-color: #116a9e !important;
    border-color: #116a9e !important;
}

.header-nav .navbar-nav > li > a{
    color:#fff !important;
}

.header-nav .navbar-nav > li.active > a{
    color:black !important;
}

.header-nav .navbar-brand{
    padding: 1px !important;
}

tr.tr-blue-grid-head {
    background-color: #116a9e;
}

tr.tr-blue-grid-head a{
    color: #fff !important;
}

.pagination .page-item.active .page-link{
    background: #116a9e;
    border-color: #116a9e;
    color:#fff;
}

.pagination{
    float: right;
}

.settings-tabs .nav-tabs>li.active>a, 
.settings-tabs .nav-tabs>li.active>a:focus,
.settings-tabs .nav-tabs>li.active>a:hover {
    color: #f5f5f5;
    cursor: default;
    background-color: #116a9e;
    border: 1px solid #116a9e;
}